.container {
    color: #4ECCA3;
}

.container h1{
    font-family: 'Lobster', cursive;

}
.container h3{
    font-family: 'Indie Flower', cursive;
}

.foot {
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
}